{% extends 'app/base.html' %}
{% load static %}
{% block content %}
  <div class="content p-4">
    <h2>Patients List</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Gender</th>
          <th scope="col">Date of Birth</th>
        </tr>
      </thead>
      <tbody>
        {% for patient in page_obj  %}
          <tr>
            <td><a href="{% url 'app:update-patient' patient.ID %}">{{ patient.ID }}</a></td>
            <td>{{ patient.Name }}</td>
            <td>{{ patient.Gender }}</td>
            <td>{{ patient.DateOfBirth }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <nav aria-label="Page navigation">
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
          </li>
        {% else %}
          <li class="page-item disabled"><span class="page-link">Previous</span></li>
        {% endif %}
    
        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
          {% endif %}
        {% endfor %}
    
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
          </li>
        {% else %}
          <li class="page-item disabled"><span class="page-link">Next</span></li>
        {% endif %}
      </ul>
    </nav>    
  </div>
{% endblock %}